
 .title{
  margin-left: 5rem;
}
.titleline{
  margin-left: -5rem;
}


@media  (max-width: 1680px) {
  .imgbackground{
    display: none;
  }
  .divpagination{
    display: none;
  }
  .titleline{
    display: none;
  }
  .title{
    margin-left: 15rem;
  }
  }
  @media  (max-width: 1230px) {
  .paragraphe{
    margin-top: 40vw;
  }
  .title{
    margin-left: 10rem;
  }
  }
  @media  (max-width: 1030px) {
 
  .title{
    margin-left: 5rem;
  }
  }

  @media  (max-width: 760px) {
      .paragraphe{
        margin-top: 60vw;
      }
      .titleline{
        width: 4rem;
      }
      .title{
        margin-top: 15vw;
        margin-left: 5rem;
      }
      .quote{
        margin-top: 15vw;
      }
      }
  
  @media  (max-width: 640px) {
  .paragraphe{
    margin-top: 80vw;
  }
  .title{
      margin-top: 25vw;
      margin-left: 0vw;
  }
  .titleline{
    display: none;
  }
  .quote{
      margin-top: 15vw;
  }
  }
  @media  (max-width: 540px) {
  .paragraphe{
    margin-top: 130vw;
  }
  .title{
      margin-top: 55vw;
  }
  
  .quote{
      margin-top: 30vw;
  }
  }


  @media  (max-width: 400px) {
  .paragraphe{
    margin-top: 170vw;
  }
  .title{
    margin-top: 60vw;
    position: absolute;
    margin-left: -15vw;
  }
  .titleline{
    width: 4rem;
  }
  .quote{
    margin-top: 50vw;
  }
  }
  
  @media  (max-width: 350px) {
  .paragraphe{
    margin-top: 200vw;
  }
  .title{
    margin-top: 60vw;
    position: absolute;
    margin-left: -15vw;
  }
  .titleline{
    width: 4rem;
  }
  .quote{
    margin-top: 50vw;
  }
  }
  
  
  
  @media (min-width: 768px) {
   li {
      float: left;
    }
   li a {
      padding: 20px 30px;
    }
   .menu {
      clear: none;
       max-height: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .menu-icon {
      display: none;
    }
  }