/******************************************************************* sart etc *************************************************************/
html{

 min-height: 100%;
  width: 100%;
  background: white;
  margin: 0;
  padding: 0;
}
body {
background: rgba(150, 170, 150, 0.575);
display: flex;
 flex-direction: row;
 justify-content: center;
 text-align: center;
 min-height: 100%;
 font-family: 'Syne', sans-serif;
 color: rgb(59, 59, 59);
width: 70%;
margin-left: 15%;

}

a {
 color: #000;
}

.title{
  margin-top: 5rem;
  text-align: center;
  max-width: 20rem;
}
  
.texte_centrer {
    position: fixed;
  margin-top:6.5rem;
  color: #000000;
   
}
  
.paragraphe {
 margin-left: 25%;
 margin-top: 20vw;
 color: #000000;
 scale: 1.5;
 width:50%;
 height: 100%;

 
}

.quote{
 font-family: 'Dancing Script', cursive;
 color: #000000;
margin-top: 5rem;
position: absolute;
 scale: 1.4;
width: 40%;
 }

.paramap1{
  width: 32%;
  display: flex;
  text-align: center;
  margin-left: 13rem ;
  margin-top: 2rem;
 }

 .paramap2{
  width: 37%;
  margin-top: 1rem;
  margin-left: 10.5rem;
 }

 .leftitems{
   width: 50%;
   display: flex;
   flex-direction: column;
   }
 .rightitems{
   width: 50%;
 margin-top: 12rem;
   display: flex;
flex-direction: column;
}

.paraskype{
  margin-top: 5rem;
  
}

.titleline{
  width: 2vw;
  height: 2px;
  background: black;
  z-index: 999;
  position: absolute;
  margin-top: 1.5rem;
}


/******************************************************************* end etc *************************************************************/

/******************************************************************* sart header *************************************************************/
.profilpic{
  border-radius: 5rem;
  height: 8rem;
  width: 8rem;
  position: fixed;
  border: solid 1px black;
 }

 
 
.profilpic:hover{
  background: black;
 }

.toppage {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

li a:hover,
.menu-btn:hover {
  background-color: #f4f4f4;
}

.logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.overlay {
  position: absolute;
  border-radius: 5rem;
  height: 8rem;
  width: 8rem;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000005e;
}

.logo:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/***  menu ***/

.menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
 
}



.menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
   display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



.menu-icon 
.navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon 
.navicon:before,
.menu-icon 
.navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon 
.navicon:before {
  top: 5px;
}

.menu-icon 
.navicon:after {
  top: -5px;
}



.menu-btn {
  display: none;
}

.menu-btn:checked ~
.menu {
  max-height: 240px;
}

 .menu-btn:checked ~ 
 .menu-icon .navicon {
  background: transparent;
}

 .menu-btn:checked ~ 
 .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

 .menu-btn:checked ~ 
 .menu-icon .navicon:after {
  transform: rotate(45deg);
}

 .menu-btn:checked ~ 
 .menu-icon:not(.steps) 
 .navicon:before,
 .menu-btn:checked ~ 
 .menu-icon:not(.steps) 
 .navicon:after {
  top: 0;
}




/******************************************************************* end header *************************************************************/

/******************************************************************* sart mediaqueries ******************************************************/




@media  (max-width: 1260px) {
.imgbackground{
  display: none;
}
.divpagination{
  display: none;
}
}
@media  (max-width: 930px) {
.paragraphe{
  margin-top: 40vw;
}
}

@media  (max-width: 550px) {
.paragraphe{
  margin-top: 60vw;
}
.titleline{
  width: 4rem;
}
}
@media  (max-width: 640px) {
.paragraphe{
  margin-top: 60vw;
}
.titleline{
  width: 4rem;
}
.quote{
  margin-top: 20vw;
}
}
@media  (max-width: 550px) {
.paragraphe{
  margin-top: 60vw;
}
.titleline{
  width: 4rem;
}
.quote{
  margin-top: 25vw;
}
}
@media  (max-width: 380px) {
.paragraphe{
  margin-top: 220vw;
}
.title{
  margin-top: 60vw;
  position: absolute;
  margin-left: -15vw;
}
.titleline{
  width: 4rem;
}
.quote{
  margin-top: 50vw;
}
}



@media (min-width: 768px) {
 li {
    float: left;
  }
 li a {
    padding: 20px 30px;
  }
 .menu {
    clear: none;
     max-height: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .menu-icon {
    display: none;
  }
}









